@import '../styles.less';

.input-name {
  min-width: 160px;
}

.input-initiative {
  margin-left: 10px;
  width: 20px;
}

.player {
  &:extend(.row);
  justify-content: space-evenly;

  input {
    border: 2px solid black;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }

  &.active {
    .input-name {
      border-left: 4px solid blue;
    }
    .input-initiative {
      border-right: 4px solid blue;
    }
  }
}
